html,body{
    background-color: #ffffff;
    /* height: 1500px; */
}
.lastest-title {
    width: 100%;
    background-color: #FFFBF5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lastest-title p{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: -30px 0px 10px 0px;
    letter-spacing: 5px;
    padding-left: 5px;
    border-top: 1px solid black;
}
.lastest-title img{
    width: 200px;
    height: 120px;
    margin-top: 30px;
}

.panel-bigcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 60vh;
    width: 100%;
    margin: 0 auto;
    background-color: #FFFBF5;
}
.panel-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
}
.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    border-radius: 30px;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
}
.panel h3{
    color: white;
    margin: 50px 10px 10px 10px;
    opacity: 0;
    text-shadow: black 0.1em 0.1em 0.1em;
}
.panel section{
    color: white;
    text-shadow: black 0.1em 0.1em 0.1em;
    font-size: 14px;
    border-bottom: 2px solid #FFC898;
    display: inline-block;
    margin: 10px 10px;
    opacity: 0;
}
.panel.active{
    flex: 5;
    
}
.panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}
.panel.active section{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width:480px) {
    .panel-container{
        width: 100vw;
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display: none;
    }
}

/* 三色分隔線 */
.color-line{
    display: flex;
}
.color-line .green{
    background-color: #AAE3E2;
    width: 20%;
    height: 7px;
}
.color-line .pink{
    background-color: #FCC8D1;
    width: 20%;
    height: 7px;
}
.color-line .orange{
    background-color: #FFC898;
    width: 20%;
    height: 7px;
}

/* 文章分類 */
.category{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    width: 350px;
}
.category section{
    padding: 10px 20px;
    cursor: pointer;
}
 .colored{
    background-color: #FCC8D1;
    border-radius: 20px;
}

/* 第一排文章 */
.col-3 {
    width: 25%;
}
@media screen and (max-width: 768px){
    .col-md-6 {
        width: 50%;
    }
}
.article-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.article-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}
/* 第一排文章的大圖 */
.nomove{
    display: flex;
    flex-direction: column;
}
.bigimg-wrap{
    width: 330px;
    height: 230px;
    position: relative;
    margin: 10px;
}
.big-article-card section p{
    font-size: 12px;
    background-color: #FFC898;
    padding:  0px 5px; 
    display: inline-block;
}
.bigimg-wrap .pic01 img{
    width: 330px;
    height: 230px;
    z-index: 10;
    position: absolute;
    box-shadow: 0 0 2px 2px #e4e4e4;
}
.bigimg-wrap:hover .pic01 img{
    transform: translateX(-20px);
}
.bigimg-wrap .pic02 img{
    width: 330px;
    height: 230px;
    position: absolute;
    z-index: 9;
    left: 20px;
    box-shadow: 0 0 3px 3px #e4e4e4;
    transition: .6s;
}
.bigimg-wrap:hover .pic02 img{
    transform: translateX(10px);
}
.bigimg-wrap .pic03 img{
    width: 330px;
    height: 230px;
    position: absolute;
    left: 40px;
    z-index: 8;
    box-shadow: 0 0 3px 3px #e4e4e4;
    transition: .6s;
}
.bigimg-wrap:hover .pic03 img{
    transform: translateX(40px);
}
.bigimg-wrap .pic04 img{
    width: 330px;
    height: 230px;
    position: absolute;
    left: 65px;
    z-index: 7;
    box-shadow: 0 0 3px 3px #e4e4e4;
    transition: .6s;
}
.bigimg-wrap:hover .pic04 img{
    transform: translateX(70px);
}
.article-card{
    cursor: pointer;
    margin: 20px;
    padding: 10px;
}
.article-card img{
    width: 100%;
    transform:scale(1,1);
    transition: all 1s ease-out;
}
.img-wrap{
    overflow: hidden;
    max-width: 230px;
}
.article-card:hover img{
    transform:scale(1.2,1.2);
}
.article-card section{
    display: flex;
    align-items: center;
}
.article-card section p{
    font-size: 12px;
    background-color: #FFC898;
    padding: 0px 5px;
}
.article-card article{
    font-size: 12px;
}
/* 第二排文章 */

/* 頁面順序 */
.page{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.page section{
    width: 50px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid black;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}