html,body{
    background-color: #FFFBF5;
}
.step_wrapper{
    display: flex;
    justify-content: center;
    align-items: first baseline;
    width: 100%;
    height: 150px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.step_wrapper p{
    text-align: center;
   
}
.step_wrapper section{
    width: 50px;
    height: 0px;
    border-bottom: 3px dashed #FCC8D1;
    margin: 10px;
}
.step_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 30px 50px 0px 0px; */
}
.step_1 section{
    width: 50px;
    height: 50px;
    background-color: #FCC8D1;
    border-radius: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    font-weight: bold;
    
}
.step_2{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.step_2 section{
    width: 50px;
    height: 50px;
    border: 3px solid #AAE3E2;
    border-radius: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    font-weight: bold;
    background-color: white;
}
.step_3{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.step_3 section{
    width: 50px;
    height: 50px;
    border: 3px solid #FFC898;
    line-height: 50px;
    border-radius: 100%;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    background-color: white;
}
/* 整個購物車div */
.cart_bigcontainer{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    
}
/* 購物車上半部 */
.cart_wrapper{
    width: 60%;
}
.cart_top{
    min-width: 80%;
    height: 60px;
    background-color: #FFC898;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid black;
    
}
.cart_top h1{
    text-align: center;
    letter-spacing: 5px;
    margin-top: 10px;
}
/* 購物車中間 */
@media screen and (max-width: 768px){
    .title, .none{
        display: none;
    }
}
@media screen and (min-width: 767px){
    .phoneshow span, .price{
        display: none;
    }
    .phoneshow select{
        display: none;
    }
    .phoneshow .price{
        display: none;
    }
    .phoneshow #cart-cross{
        display: none;
    }
    
}
table{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-items: center;
    border-right: 1px solid black;
    border-left: 1px solid black;
    min-width: 90%;
    padding-top: 30px;
    background-color: white;
}
table img{
    width: 100px;
    height: 80px;
}
th{
    padding: 0px 10px;
    border: 1px solid #FCC8D1;
    border-radius: 5px;
}
td{
    padding: 10px;

}
.title{
    background-color: #FCC8D1;
    
    
}

.phoneshow{
    display: flex;
    /* border-bottom: 1px solid black; */
}
.phoneshow td{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 50px 0px;
}
.phoneshow span{
    background-color: #FCC8D1;
    text-align: center;
    font-weight: bold;
    margin: 10px 0px;
    font-size: 14px;
    padding: 3px;
    border: 1px solid #FCC8D1;
    border-radius: 5px;
}
.phoneshow select{
    color: black;
    background-color: white;
    border: 1px solid black;
}
.phoneshow .fa-solid{
    padding-top: 3px;
    padding-left: 6px;
}

/* 購物車下半部 */
.cart_bottom{
    min-width: 80%;
    height: 50px;
    background-color: #AAE3E2;
    border: 1px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 50px;
}
.cart_bottom section{
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0px;
    width: 120px;
    letter-spacing: 2px;
    
}
.cart_bottom button{
   background-color: #FCC8D1;
   width: 100px;
   height: 30px;
   border-radius: 10px;
   letter-spacing: 3px;
   cursor: pointer;
   margin: 10px 10px;
   border: 1px solid white;
   box-shadow: 3px 3px white;
   color: black;
}

/* 可能也會喜歡... */
@media screen and (max-width: 767px){
    .youlike-container{
        display: flex;
        flex-direction: column;
    }
    .youlike-container .youlike01, .youlike02{
        border-bottom: 1px solid black;
    }
    .youlike-container .youlike02, .youlike03{
        border-left: 1px solid black;
    }
}
.youlike-title{
    width: 100%;
    background-color: #FFFBF5;
}
.youlike-title h1{
    text-align: center;
    margin: 0;
    padding: 20px 0px;
    letter-spacing: 5px;
    color: #FFC898;
   
}
.youlike-container{
    width: 100%;
    background-color: #FFFBF5;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.youlike{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
    padding: 20px;
}
.youlike img{
    width: 220px;
    height: 200px;
}
.youlike .youlike-txt p{
    font-size: 16px;
    padding: 5px;
    text-align: center;
}
.youlike .youlike-txt h4{
    text-align: center;
}
.youlike .youlike-txt button{
    background-color: #FCC8D1;
    border-radius: 10px;
    border: none;
    text-align: center;
    cursor: pointer;
    width: 120px;
    padding: 5px 0px;
    font-size: 14px;
    box-shadow: 3px 3px 0px #eee;
    color: black;
}
.youlike:hover button{
    font-weight: bold;
    color: white;
    background-color: #FFC898;
}