<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="migoopic/migoo_icon.ico" rel="shortcut icon"/>
    <title>MIGOO</title>
    <link rel="stylesheet" href="cart.css">
    <link rel="stylesheet" href="share.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d0903bd1ce.js" crossorigin="anonymous"></script>
    <script src="jQuery/jquery-3.7.0.js"></script>
</head>
<body>
    <header>
        <div class="left-icon">
            <img id="hamburger" src="migoopic/hamburger.png" alt="">
            <a href=""><img style="width: 23px;height: 23px;" src="migoopic/facebook.png" alt=""></a>
            <a href="https://www.instagram.com/miginligoo/" target="_blank"><img style="width: 23px;height: 23px;" src="migoopic/instagram.png" alt=""></a>
        </div>
    
        <div class="nav-center">
            <div class="left-nav">
                <div class="dropdown_reaction"><a href="feed.html">貓咪用品</a>
                        
                        <div class="dropdown">
                            <a href="feed.html"><section>罐罐飼料</section></a>
                            <a href="feed.html"><section>餐食飲具</section></a>
                            <a href="feed.html"><section>睡睡貓窩</section></a>
                            <a href="feed.html"><section>娛樂玩具</section></a>
                            <a href="feed.html"><section>喵咪保健</section></a>
                        </div>
                    </div>
                    <div><a href="blog.html">貓咪知識</a></div>    
            </div>
    
            <div class="logo">
                <a href="index.html"><img src="migoopic/migoo.svg" alt=""></a>
            </div>
    
            <div class="right-nav">
                <div><a href="shop.html">門市資訊</a></div>
                <div><a href="faq.html">常見問題</a></div>
            </div>
        </div>
    
        <div class="right-icon">
            <div class="search">
                        <label for=""></label>
                        <input class="input" type="text" placeholder="搜尋商品...">
                        <img style="width: 25px;height: 25px; margin-top: -3px; margin-right: 2px;margin-left: 10px;" src="migoopic/search.png" alt="">
                    </div>
            <a href="cart.html" ><img src="migoopic/shopping-cart.png" alt=""></i></a>
            <button id="user"><img style="width: 25px;height: 25px; " src="migoopic/user.png" alt=""></button>
            <button id="phoneuser"><img style="width: 25px;height: 25px;" src="migoopic/user.png" alt=""></button>
        </div>
     </header>

     <!-- 手機登入註冊 -->
<dialog id="phone">
    <div class="phone-loginregi-container" >
        <div class="phone-loginregi">
            <div class="loginregi">
                <section id="phone-login">登入</section>
                <section id="phone-regi">註冊</section>
            </div>
            <div class="phone-container">
                <button class="phone-cross"><i class="fa-solid fa-xmark fa-2xl" style="color: #fff;"></i></button>
                <div class="phone-login-box">
                    <h1>LOGIN</h1>
                    <input type="text" placeholder="帳號">
                    <input type="password" placeholder="密碼">
                    <p>忘記密碼</p>
                    <section>登入</section>
                </div>
                <div class="phone-regi-box">
                    <h1>REGISTER</h1>
                    <input type="text" placeholder="帳號">
                    <input type="password" placeholder="密碼">
                    <input type="password" placeholder="確認密碼">
                    <input type="email" placeholder="電子郵件">
                    <section>註冊</section>
                </div>
            </div>
        </div>
    </div>
</dialog>
<script>
    // 點user打開
    let btnn=document.querySelector("#phoneuser");
    let phone=document.querySelector("#phone");
    btnn.addEventListener("click", function(){
        phone.showModal();
    })
   $('.phone-cross').click(function(){
    $('#phone').hide();
   })
    
    // 點叉叉關閉
    $('.phone-cross').click(function(){
        $('.phone-loginregi').hide();
    })
  
</script>

     <!-- 貓掌 -->
    <div class="cat-nav">
        <div class="content-container">
            <i class="fa-solid fa-xmark fa-2xl" style="color: #fff;"></i>
            <div class="nav-list">
                <div class="sub-reaction"><section>貓咪用品<i class="fa-solid fa-chevron-up fa-rotate-180 fa-sm" style="color: #ffffff;"></i></section>
            
                    <div class="sub-menu">
                        <a href="feed.html"><section>罐罐飼料</section></a>
                        <a href="feed.html"><section>餐食飲具</section></a>
                        <a href="feed.html"><section>睡睡貓窩</section></a>
                        <a href="feed.html"><section>娛樂玩具</section></a>
                        <a href="feed.html"><section>喵咪保健</section></a>
                    </div>
                </div>
                
                <a href="blog.html"><section>貓咪知識</section></a>
                <a href="shop.html"><section>門市資訊</section></a>
                <a href="faq.html"><section>常見問題</section></a>
            </div>
            <div class="social-icon">
                <i class="fa-brands fa-square-facebook fa-2xl" style="color: #ffffff;"></i>
                <i class="fa-brands fa-instagram fa-2xl" style="color: #ffffff;"></i>
            </div>
        </div>
    </div>

    <script>
        $('#hamburger').click(function(){
            $('.cat-nav').show();
            $('.cat-nav').css('transform','translateY(0px)');
        })
        

        $('.fa-xmark').click(function(){
            $('.cat-nav').hide();
            $('.cat-nav').css('transform','translateY(6000px)');
        })

        $('.sub-reaction').click(function(){
            $('.sub-menu').toggle();
        })
    </script>

    <!-- 麵包屑 -->
    <div class="breadcrumbs">
        <a href="index.html">首頁</a>
        <i class="fa-sharp fa-solid fa-chevron-right fa-xs" style="color: #000000;"></i>
        <a href="cart.html">購物車</a>
    </div>

    <!-- 步驟 -->
    <div class="step_wrapper">
        <div class="step_1">
            <section>1</section>
            <p>購物車</p>
        </div>
        <section></section>
        <div class="step_2">
            <section>2</section>
            <p>填寫資料</p>
        </div>
        <section style="border-bottom: 3px dashed #AAE3E2;"></section>
        <div class="step_3">
            <section>3</section>
            <p>訂單確認</p>
        </div>
    </div>

    
    <div class="cart_bigcontainer">
        <div class="cart_wrapper">
            <!-- 購物車上半部 -->
            <div class="cart_top">
                <h1>購物車明細</h1>
            </div>
            <!-- 購物車中間 -->
            <div class="cart_center">
                <table>
                    <tr class="title">
                        <th colspan="2">商品資訊</th>
                        <th>數量</th>
                        <th>小計</th>
                        <th>刪除</th>
                    </tr>
                    <tr class="product" v-for="item in productList" :key="item.title">
                        <td><img :src="item.src" alt=""></td>
                        <td>{{item.title}}</td>
                        <td class="none">
                            <select id="quantity" v-model="item.quantity" value="list.count">
                                <option selected>數量</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </td>
                        <td class="none">${{item.price*item.quantity}}</td>
                        <td class="none cart-cross"><button  @click="removeCart(index)" style="background-color: none;">刪除</button></td>
                        <!-- <tr class="phoneshow" v-for="(item, index) in productList" :key="'phone_' + index">
                            <td><span>數量</span><select name="" id="">
                                <option selected>選擇數量</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select></td>
                            <td class="price">
                                <span>小計</span>
                                {{parseInt(item.price) * item.quantity}}
                            </td>
                            <td class="cart-crosss">
                                <span>刪除</span>
                                <i class="fa-solid fa-x fa-md" style="color: #000000;"></i>
                            </td>
                        </tr> -->
                    </tr>
                </table>
            </div>
            
            <!-- 購物車下半部 -->
            <div class="cart_bottom">
                <section>合計: ${{totalPrice}}</section>
                <button>結帳</button>
            </div>      
        </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
            <script>
                const app = Vue.createApp({
                    data() {
                        return {
                           

                            productList: [
                                {
                                    src: 'products/climb.png',
                                    title: '白色絨毛貓咪爬架',
                                    price: '1299',
                                    quantity: 1
                                },
                                {
                                    src: 'products/crocodile.png',
                                    title: '鱷魚瓦楞紙貓抓板',
                                    price: '390',
                                    quantity: 1
                                },
                                {
                                    src: 'products/box.png',
                                    title: '白色開放式貓砂盆',
                                    price: '990',
                                    quantity: 1
                                }
                            ]
                        };
                    },
                    computed:{
                       totalPrice(){
                        return this.productList.reduce((total, item) =>{
                            return total + (item.price * item.quantity);
                        },0);
                       }
                    },
                    methods:{
                        removeCart(index){
                            this.productList.splice(index, 1)
                }
                    },
                }).mount('.cart_wrapper');
            </script>
    <!-- <script>
        $('#cart-cross').click(function(){
            $('.cart01').hide()
        })
    </script> -->

     <!-- 登入與註冊 -->
     <dialog  id="infoModal">
        <div class="bigcontainer">
            <div class="container">
                <div class="form-box">
                    <div class="register-box hidden" >
                        <button id="close1"><i class="fa-solid fa-xmark fa-2xl" style="color: #fff;"></i></button>
                        <h1>REGISTER</h1>
                        <input type="text" placeholder="帳號">
                        <input type="password" placeholder="密碼">
                        <input type="password" placeholder="確認密碼">
                        <input type="email" placeholder="電子郵件">
                    
                        <a href="index.html"><section>註冊</section></a>
                    </div>
                    <div class="login-box ">
                        <button id="close2"><i class="fa-solid fa-xmark fa-2xl" style="color: #fff;"></i></button>
                        <h1>LOGIN</h1>
                        <input type="text" placeholder="帳號">
                        <input type="password" placeholder="密碼">
                        <div class="smallwrap">
                            <a href="index.html">忘記密碼</a>
                            
                        </div>
                        <a href="index.html"><section>登入</section></a>
                    </div>
                </div>
    
                <div class="con-box left">
                    <img src="migoopic/migoo.svg" alt="">
                    <p>歡迎回來!</p>
                    <button id="login">去登入</button>
                    
                </div>
                <div class="con-box right">
                    <img src="migoopic/migoo.svg" alt="">
                    <p>還沒有帳號嗎?</p>
                    <button id="register">去註冊</button>
                    
                </div>
            </div>
        </div>    
    </dialog>
    
<script>
    let login=document.getElementById('login');
    let register=document.getElementById('register');
    let form_box=document.getElementsByClassName('form-box')[0];
    let register_box=document.getElementsByClassName('register-box')[0];
    let login_box=document.getElementsByClassName('login-box')[0];

    register.addEventListener('click',()=>{
        form_box.style.transform='translateX(80%)';
        login_box.classList.add('hidden');
        register_box.classList.remove('hidden');
    })
    login.addEventListener('click',()=>{
        form_box.style.transform='translateX(0%)';
        register_box.classList.add('hidden');
        login_box.classList.remove('hidden');
    })
</script>

<script>
    let btn=document.querySelector("#user");
    let infoModal=document.querySelector("#infoModal");
    btn.addEventListener("click", function(){
        infoModal.showModal();
    })
    close1.addEventListener("click", function(){
        infoModal.close();
    })
    close2.addEventListener("click", function(){
        infoModal.close();
    })
</script>
    
    <!-- 可能也會喜歡... -->
    <div class="youlike-title">
        <h1>您可能也會喜歡......</h1>
     </div>

     <div class="youlike-container">
        <div class="youlike youlike01" style="border-left: 1px solid black;">
            <img src="products/cheese.png" alt="">
            <div class="youlike-txt">
                <h4>起司貓抓板</h4>
                <p>NT$390</p>
                <button>加入購物車</button>
                
            </div>
        </div>
        <div class="youlike youlike02">
            <img src="products/elizabeth.png" alt="">
            <div class="youlike-txt">
                <h4>伊莉莎白圈</h4>
                <p>NT$299</p>
                <button>加入購物車</button>
                
            </div>
        </div>
        <div class="youlike youlike03">
            <img src="products/climb.png" alt="">
            <div class="youlike-txt">
                <h4>白色絨毛貓咪爬架</h4>
                <p>NT$1,299</p>
                <button>加入購物車</button>
                
            </div>
        </div>
     </div>

    <footer>
        <div class="footer_wrap">
            <img src="migoopic/migoo.svg" alt="">
            <div class="info_wrap">
                <div class="info_address">
                    地址:桃園市中壢區復興路46號9樓<br>
                    電話: 03 -425 1108
                </div>
                <div class="info_tibame" style="font-size: smaller;">
                    本網站為緯育TibaMe前端工程師班第86期學員專題作品<br>
                    本平台僅供學習展示之用
                </div>
            </div>
            <div class="link">
                <a href="blog.html">貓咪知識</a>
                <hr>
                <a href="shop.html">門市資訊</a>
                <hr>
                <a href="faq.html">常見問題</a>
            </div>
        </div>
    </footer>
</body>
</html>