/* 商品banner */
.banner-container{
    background-image: url(migoopic/bigimg01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* width: 100%; */
    height: 550px;
    opacity: 0.91;
}
.content{
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-container section{
    width: 220px;
    height: 30px;
    background-color: #AAE3E2;
    margin: -70px;
}
.banner-container h1 ,.banner-container p{
    color: white;
    text-shadow: black 0.1em 0.1em 0.1em
}
.banner-container p{
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 3px;
    cursor: pointer;
    margin-bottom: 20px;
}


/* 貓砂特價 */
.catlitter-wrap{
    float: right;
    background-color: #FFC898;
    /* width: 425px;
    height: 100px; */
    border: 1px solid #000;
    border-right: none;
    border-top-left-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
  .catlitter-wrap p{
    margin-left: 15px;
    font-weight: bold;
    font-size: 14px;
  }
  .catlitter-wrap img{
    width: 240px;
    height: 140px;
    margin-top: -90px;

  }
  .catlitter-wrap .x{
    margin-top: -60px;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* 商品排序每頁顯示 */
.sortnshow{
    background-color: #FFC898;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.phone-list{
    display: inline-block;
    cursor: pointer;
    margin: 0px 10px;
}
.listlist{
    display: none;
    border: 1px solid black;
    padding: 10px 20px;
    background-color: white;
    position: absolute;
    z-index: 1;
}
.listlist section{
    padding: 10px;
}
.sort_wrapper{
    display: inline-block;
    cursor: pointer;
    margin: 0px 10px;
}
.show_wrapper{
    display:inline-block;
    cursor: pointer;
    margin: 0px 10px;
    z-index: 1;
}
.sort{
    display: none;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
    position: absolute;
    z-index: 1;
}
.show{
    display: none;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    background-color: white;
    position: absolute;
    z-index: 1;
}
.sort section{
    padding: 10px 10px;
}
.show section{
    padding: 10px 10px;
}
.listlist section:hover{
    background-color: #FFC898;
}
.sort section:hover{
    background-color: #FFC898;
}
.show section:hover{
    background-color: #FFC898;
}
.phone-list:hover>.listlist{
    display: block;
}
.show_wrapper:hover>.show{
    display: block;
}
.sort_wrapper:hover>.sort{
    display: block;
}

/* 商品區 */

.allcontainer{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 50px 0px;
    
}
.list-txt{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listcontainer{
    margin-top: 70px;
    margin-right: 50px;
}
.list-txt section{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #AAE3E2;
    margin: 5px;
}
.listcontainer h5{
    text-align: center;
    font-size: 18px;
}
.list{
    background-color: #FFFBF5;
    border: 3px solid #FFC898;
    border-radius: 10px;
    /* height: 240px; */
    padding: 10px 0px 10px 0px;
}
.list a{
    display: block;
    padding: 10px;
    text-align: center;
}
.list section:hover{
    border-bottom: 3px solid #FFC898;
}

/* 商品區 */
.col-3 {
    width: 25%;
}
@media screen and (max-width: 768px){
    .col-md-6 {
        width: 50%;
    }
    .listcontainer{
        display: none;
    }
}
@media screen and (min-width: 767px){
    .phone-list{
        display: none;
    }
    .sortnshow{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
.productstainer{
    /* max-width: 1200px; */
    display: flex;
    flex-direction: column;
}
.products-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:black;
    margin: 20px 10px;
}
.card a{
    text-decoration: none;
    color:black;
    text-align: center;
}
.card .img-wrapper{
    width: 180px;
}
.card img{
    width: 60%;
    height: 120px;
    transform:scale(1,1);
    transition: all 1s ease-out;
}
.card:hover img{
    transform:scale(1.2,1.2);
}
.card section{
    font-weight: 300;
    margin: 10px 0px;
}
.card input{
    background-color: #FCC8D1;
    border-radius: 10px;
    border-color: #FCC8D1;
    margin:10px 0px;
    cursor: pointer;
    width: 100px;
    padding: 5px 0px;
    text-decoration: none;
    color:black;
    z-index: 1;
    box-shadow: 3px 3px 0px #eee;
}
.card:hover input{
    font-weight: bold; 
    font-weight: bold;
    color: white;
    background-color: #FFC898;
}

