/* 商品banner */
.banner-container{
    background-image: url(migoopic/products_banner.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 600px;
    opacity: 0.91;
}
.content{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-container section{
    width: 220px;
    height: 30px;
    background-color: #AAE3E2;
    margin: -70px;
}
.banner-container h1 ,.banner-container p{
    color: white;
    text-shadow: black 0.1em 0.1em 0.1em
}
.banner-container p{
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 3px;
    cursor: pointer;
}
.banner-container img{
    cursor: pointer;
}


/* 商品排序每頁顯示 */
.sortnshow{
    background-color: #FFC898;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.sort_wrapper{
    display: inline-block;
    cursor: pointer;
    margin: 0px 10px;
}
.show_wrapper{
    display:inline-block;
    cursor: pointer;
    margin: 0px 10px;
}
.sort{
    display: none;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
    position: absolute;
    z-index: 1;
}
.show{
    display: none;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    background-color: white;
    position: absolute;
}
.sort section{
    padding: 10px 10px;
}
.show section{
    padding: 10px 10px;
}
.sort section:hover{
    background-color: #FFC898;
}
.show section:hover{
    background-color: #FFC898;
}

.show_wrapper:hover>.show{
    display: block;
}
.sort_wrapper:hover>.sort{
    display: block;
}

/* 商品區 */
@media screen and (max-width: 767px){
   
}
.firstbigcontainer{
    display: block;
    display: flex;
    justify-content: center;
    width: 100%;
}
.list-txt{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listcontainer{
    margin-top: 70px;
    margin-right: 50px;
}
.list-txt section{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #AAE3E2;
    margin: 5px;
}
.listcontainer h5{
    text-align: center;
    font-size: 18px;
}
.list{
    background-color: #FFFBF5;
    border: 3px solid #FFC898;
    border-radius: 10px;
    /* height: 240px; */
    padding: 10px 0px 10px 0px;
}
.list a{
    display: block;
    padding: 10px;
    text-align: center;
}
.list section:hover{
    border-bottom: 3px solid #FFC898;
}
.secbigcontainer{
    display: flex;
    flex-direction: column;
    
}
.verybigcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.otherbigcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_list01{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 70px;
    
}
.various_products{
    width: 200px;
    height: 340px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-decoration: none;
    color:black;
    /* box-shadow: 8px 8px #FFC898; */
    margin: 20px;
}
.various_products a{
    text-decoration: none;
    color:black;
    text-align: center;
}
.various_products img{
    width: 120px;
    height: 100px;
    transform:scale(1,1);
    transition: all 1s ease-out;
}
.various_products img:hover{
    transform:scale(1.2,1.2);
}
.various_products p{
    font-weight: bold;
}
.various_products section{
    font-weight: 300;
    margin: 10px 0px;
}
.various_products input{
    background-color: #FCC8D1;
    border-radius: 10px;
    border-color: #FCC8D1;
    margin:10px 0px;
    cursor: pointer;
    width: 100px;
    padding: 5px 0px;
    transform:scale(1,1);
    transition: all 1s ease-out;
}
.various_products input:hover{
    transform:scale(1.2,1.2);
}
.product_list02{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
}
.product_list02 img{
    width: 100px;
    height: 130px;
}

