*{
    font-family: kanit;
}
html,body{
    padding: 0;
    margin: 0;
    
}
.discount-info{
    width: 100%;
    font-size: 12px;
    letter-spacing: 2px;
    text-align: center;
    background-color: #FCC8D1;
    margin: 0;
  }
/* banner */
.banner-container{
    width: 100%;
    overflow: hidden;
}
.banner a{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
.banner img{
    width: 80%;
    height: 500px;
    animation-name: movebanner;
    animation-duration: 35s;
    animation-iteration-count:infinite;
}
@keyframes movebanner{
    0% {left: 100%;
        transform: translateX(0%);}
    
    100% {left: 0;
        transform: translateX(-100%);}
}
@keyframes movebanner{
    0% {left: 100%;
        transform: translateX(0%);}
    
    100% {left: 0;
        transform: translateX(-100%);}
}

/* 優惠資訊 */
@media screen and (max-width: 767px){
    .discount section{
        font-size: 12px;
    }
}
.discount{
    width: 100%;
    background-color: #FFFBF5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-size: 24px;
    letter-spacing: 5px;
    border-bottom: 1px solid black;
    
}
.discount section{
    padding: 0px 30px;
    width: 33.333333%;
    text-align: center;
    box-sizing: border-box;
}
.discount_points, .discount_999{
    border-right: 1px solid black;
}
.pagetop{
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 1;
}
/* 商品分類 */
@media screen and (max-width: 360px){
    
    .menu img{
        width: 30px;
        height: 30px;
    }
   
}
@media screen and (max-width: 768px){
    .menu{
        height: 180px;
    }
    .menu img{
        width: 60px;
        height: 60px;

    }
    .wrapper a{
        font-size: 12px;
    }
}
@media screen and (min-width: 767px){
    .menu{
        height: 250px;
    }
    .menu img{
        width: 100px;
        height: 100px;
    }
    .wrapper{
        margin: 10px;
    }
  
  }
.menu_title {
    width: 100%;
}
.menu_title h1{
    background-color: #FFFBF5;
    text-align: center;
    margin: 0;
    padding: 20px 0px;
    letter-spacing: 5px;
}
.menu{
    background-color: #FFFBF5;
    display: flex;
    justify-content: center;
    width: 100%;
}
.menu img{
    transform:scale(1,1);
    transition: all 1s ease-out;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.wrapper:hover{
    transform:scale(1.2,1.2);
}
.wrapper a{
    padding: 5px 10px;
    text-decoration: none;
    color: black;
}


/* 最新商品標題 */
.new_products_title{
    background-color: #FCC8D1;
    text-align: center;
    letter-spacing: 5px;
    height: 50px; 
    width: 100%;
} 
.new_products_title h1{
   margin: 0 auto;
}

/* 最新商品 */
/* .col-2{ width: 16.66666%;}
.col-3{ width: 25%;}
.col-4{ width: 33.333333%;}
.col-5{ width: 41.666666%;}
.col-6{ width: 50%;}
.col-7{ width: 58.333333%;}
.col-8{ width: 66.666666%;}
.col-9{ width: 75%;}
.col-10{ width: 83.333333%;}
.col-11{ width: 91.666666%;}
.col-12{ width: 100%;}

@media screen and (min-width: 768px) {
    .col-sm-1{ width: 8.333333%;}
    .col-sm-2{ width: 16.66666%;}
    .col-sm-3{ width: 25%;}
    .col-sm-4{ width: 33.333333%;}
    .col-sm-5{ width: 41.666666%;}
    .col-sm-6{ width: 50%;}
    .col-sm-7{ width: 58.333333%;}
    .col-sm-8{ width: 66.666666%;}
    .col-sm-9{ width: 75%;}
    .col-sm-10{ width: 83.333333%;}
    .col-sm-11{ width: 91.666666%;}
    .col-sm-12{ width: 100%;}
} */
:root{
    --gap: 10px;
}
[class*="col-"]{
    padding: 0 var(--gap);
    box-sizing: border-box;
}


.new_products_container{
    max-width: 1280px;
    border: 1px solid greenyellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: var(--gap);
    padding-right: var(--gap);
}
.new_products_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: calc(var(--gap) * -1);
    margin-right: calc(var(--gap) * -1);
}
.new_products_card{
    width: 220px;
    height: 330px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 3px 3px #FFC898;
}
.new_products_card img{
    width: 150px;
    height: 130px;
    transform:scale(1,1);
    transition: all 1s ease-out;
}
.new_products_card img:hover{
    transform:scale(1.2,1.2);
}
.new_products_card a{
    text-decoration: none;
    color:black;
    text-align: center;
}
.new_products_card p{
    font-weight: bold;
}
.new_products_card section{
    font-weight: 300;
    margin: 10px 0px;
}
.new_products_card input{
    background-color: #FCC8D1;
    border-radius: 10px;
    border-color: #FCC8D1;
    margin:10px 0px;
    cursor: pointer;
    width: 100px;
    padding: 5px 0px;
    transform:scale(1,1);
    transition: all 1s ease-out;
}
.new_products_card input:hover{
    transform:scale(1.2,1.2);
}

/* 推薦 */

.recommend{
    width: 70px;
    height: 70px;
    border: 3px solid #AAE3E2;
    border-radius: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 25%;
    animation-name: rotate;
    animation-duration: 7s;
    animation-iteration-count:infinite;
}
.recommend section{
    color: #AAE3E2;
    font-weight: bold;
    font-size: 24px;
   
}
@keyframes rotate {
    0%{transform:rotate(0deg);}
    
    100%{transform:rotate(360deg);}
  }

/* 跑馬燈 */
.marquee{
    width: 100%;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 0;
    margin-top: 50px;
}
.marquee img{
    animation-name: marquee;
    animation-duration: 150s;
    animation-iteration-count:infinite;
}
@keyframes marquee{
    0% {left: 100%;
        transform: translateX(0%);}
    
    100% {left: 0;
        transform: translateX(-100%);}
}

/* 食材banner */
.food-banner{
    background-image: url(migoopic/foodbanner.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 600px;
    /* opacity: 0.8; */
    color: white;
    letter-spacing: 1px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: black 0.1em 0.1em 0.1em
}

/* 流程 */
@media screen and (max-width: 767px){
    .step-container{
        display: flex;
        flex-direction: column;
    }
}
.step-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -70px;
    margin-bottom: 50px;
    
}
.step-container .step{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.step-container .step h3{
    text-align: center;
    letter-spacing: 2px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.step-container .step p{
    text-align: center;
    letter-spacing: 1px;
    line-height: 25px;
}
.step-container img{
    width: 300px;
    height: 200px;
    border: 1px solid black;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.step section{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 100%;
    text-align: center;
    font-size: 28px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}