
@media screen and (max-width: 768px){
    .zhongli-map img, .daan-map img{
        display: none;
    }
}

.shop-title {
    width: 100%;
    background-color: #FFFBF5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.shop-title p{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: -30px 0px 50px 0px;
    letter-spacing: 5px;
    padding-left: 5px;
    border-top: 1px solid black;
}
.shop-title img{
    width: 200px;
    height: 120px;
    margin-top: 30px;
}
.zhongli_wrap{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #FFFBF5;
  }
  .zhongli{
    background-color: white;
    border: 1px solid black;
    border-right: none;
    border-top-left-radius: 80px;
    margin: 100px 0px;
    display: flex;
    justify-content: center;
    width: 1200px;
    height: 300px;
  }
  .img_wrap{
    position: relative;
  }
  .img_wrap img{
    position: absolute;
    width: 350px;
    height: 230px;
    border-radius: 20px;
    border: 1px solid black; 
    box-shadow: 0 0 5px 5px #e4e4e4;
    margin-top: -80px;   
  }
  
  .img_wrap .zhongli02{
    display: none;
  }
  .img_wrap .zhongli03{
    display: none;
  }
  .threedot{
    display: flex;
    position: absolute;
    margin-left: 150px;
    margin-top: 120px;
    
  }
  .threedot section{
    left: 50px;
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 100%;
    background-color: #aaa;
    opacity: 0.6;
    cursor: pointer;
    z-index: 2;
  }
  .zhongli_info{
    width: 300px;
    z-index: 1;
    margin-top: 80px;
  }
  .zhongli .zhongli_info h2{
    font-size: 28px;
    margin-left: 20px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.1em
  }
  .zhongli .zhongli_info p{
    margin-left: 20px;
  }
  .zhongli_info a{
    text-decoration: none;
    color: black;
  }
  .zhongli-map img{
    width: 250px;
    height: 280px;
    margin: 0px 100px;
  }
  /* 大安 */
  .daan_wrap{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFFBF5;
  }
  .daan{
    background-color: white;
    border: 1px solid black;
    border-left: none;
    border-top-right-radius: 80px;
    margin: 100px 0px;
    display: flex;
    justify-content: center;
    width: 1200px;
    height: 300px;
  }
  .daan_info{
    width: 300px;
    z-index: 1;
    margin-top: 150px;
  }
  .daan .daan_info h2{
    font-size: 28px;
    margin-top: -50px;
    margin-left: 20px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.1em
  }
  .daan .daan_info p{
    margin-left: 20px;
  }
  .daan_info a{
    text-decoration: none;
    color: black;
  }
  .daan-map img{
    width: 250px;
    height: 280px;
    margin: 0px 100px;
  
  }
  .img_wrap .daan02{
    display: none;
  }
  .img_wrap .daan03{
    display: none;
  }
  .makealine{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .makealine button{
    height: 30px;
    padding: 0px 10px;
    background-color: #FFC898;
    border-radius: 10px;
    border: none;
    letter-spacing: 3px;
    cursor: pointer;
  }
  .makealine img{
    margin-left: 3px;
    transform: rotate(-45deg);
    width: 10px;
    height: 10px;
  }
 

.pagetop{
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 1;
}